body {
    font-family: Arial, sans-serif;
    background-color: #e7e7e7;
    margin: 0;
    padding: 20px;
    background-image: url('vernyomas.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 60px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    float: left;
    text-align: center;
    background-color: #33b69c;
}
h1 {
    text-align: center;
    color: #333;
}
label {
    display: block;
    margin-top: 10px;
    color: #555;
}
input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
button {
    background-color: white;
    color: black;
    border-radius: 10em;
    font-size: 17px;
    font-weight: 600;
    padding: 1em 2em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid black;
    box-shadow: 0 0 0 0 black;
    margin: 10px;
    display: inline-block;
  }
  
  button:hover {
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 black;
  };
  
  button:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 black;
  };
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    padding: 10px;
    text-align: center;
}
th {
    background-color: #f4f4f9;
}